packaging==26.2
setuptools==83.0.0
wheel==0.47.0
VapourSynth==78
vsrife==5.7.0
torch==2.13.0
torchvision==0.28.0+cu130
torch-tensorrt==2.12.1+cu130
nvidia-modelopt[all]==0.45.0
triton-windows==3.7.1.post27
