packaging==26.2
setuptools==81.0.0
wheel==0.47.0
VapourSynth==75
vsrife==5.7.0
torch==2.11.0+cu130
torchvision==0.26.0+cu130
torch-tensorrt==2.11.0+cu130
nvidia-modelopt[all]==0.43.0
triton-windows==3.6.0.post26
