GITHUB_REPOSITORY=BrandonCasa/VidSmoother
GITHUB_PAT=ghp_replace_with_a_pat_that_can_manage_repo_actions_runners
RUNNER_NAME=vidsmoother-windows-docker
RUNNER_LABELS=vidsmoother-windows-docker
RUNNER_VERSION=2.333.1
RUNNER_REPLACE=true
